# Client config (only used in dev -- in prod uses same domain)
NEXT_PUBLIC_API_URL=http://localhost:3010
NEXT_PUBLIC_WS_URL=ws://localhost:3020
# Server config
MONGODB_USER=root
MONGODB_PASSWORD=root
MONGODB_DATABASE=Connect4
MONGODB_URL=mongodb://root:root@database:27017/Connect4?authSource=Connect4
# Databse init config
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_INITDB_DATABASE=Connect4
# Both configs should match