.exitButton {
    position: fixed;
    right: 1rem;
    top: 1rem;

    border: none;

    font-size: 0.75rem;
    text-decoration: underline;
    color: var(--accent);
    background: transparent;
    cursor: pointer;
}

.main h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
}

.endMsg {
    text-transform: capitalize;
}

.modalHeader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modalBtn {
    align-self: end;
    width: fit-content;

    border: none;

    cursor: pointer;
    background: transparent;
    font-size: 0.75rem;
    color: var(--accent);
    text-decoration: underline;
}

.opacity dialog,
.opacity dialog::backdrop {
    opacity: 0.5;
}
