@keyframes cellDrop {
    0% {
        translate: 0 -100%;
        opacity: 0;
        box-shadow: 0 3rem var(--secondary);
        border-color: currentColor;
    }
    100% {
        translate: 0;
        opacity: 1;
        box-shadow: 0 0 transparent;
        border-color: var(--accent);
    }
}

/* --- */

.board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;

    width: clamp(10vw, 30rem, 90vw);
    margin: 1rem auto;

    padding: 1rem;

    border-radius: 1rem;
    box-shadow: 0 4px 4px #00000088;

    background-color: var(--primary);
}

.cell {
    display: grid;
    align-items: center;

    width: 100%;
    aspect-ratio: 1;

    border: 2px solid var(--accent);
    border-radius: 100%;

    background: var(--secondary);
    cursor: pointer;
}

.cell.yellow::after,
.cell.red::after {
    content: "";
    display: block;
    margin: auto;

    width: 50%;
    aspect-ratio: 1;

    border: 2px solid #0004;
    border-radius: 100%;
}

.cell.red,
.cell.yellow {
    animation: cellDrop 0.7s ease-out;
}

.cell.red {
    background: red;
    color: red;
}

.cell.yellow {
    background: yellow;
    color: yellow;
}

/* AI movement */

@keyframes await {
    from {
        background: var(--secondary);
    }
    to {
        opacity: 0.7;
        background: var(--secondary);
    }
}

.aiGame {
    position: auto;
}

.aiGame .cell.yellow {
    animation: await 0.5s linear, cellDrop 0.7s ease-out 0.5s;
}
