@keyframes slideIn {
    0% {
        translate: 0 -1rem;
    }
    100% {
        translate: 0 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* --- */

.customModal.open {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    width: clamp(20%, 35rem, 95%);
    padding: 1rem;

    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 4px #00000088;

    background: var(--background);
    color: var(--text);
    text-align: center;

    animation: slideIn 0.2s ease-in, fadeIn 0.2 ease-in;
}

.customModal::backdrop {
    background: #000000cc;
    animation: fadeIn 0.2s ease-in;
}
